---
import 'tailwindcss/tailwind.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>

  <body
    class="bg-blue-950 text-white min-h-screen transition-colors duration-500"
    id="body"
  >
    <nav class="flex justify-between items-center p-6">
      <div class="bg-teal-500 rounded-full">
        <img
          src="fotomia.jpg"
          alt="foto"
          class="rounded-full border-4 border-teal-500 w-24 h-24 md:w-32 md:h-32"
        />
      </div>
      <div>
        <a href="/home" class="text-gray-400 hover:text-teal-400 underline">
          Volver Atrás
        </a>
      </div>
    </nav>

    <h1 class="text-4xl mt-3 p-2 text-cyan-400 underline font-bold text-center">
      About me:
    </h1>

    <main class="max-w-4xl mx-auto p-6 grid gap-6 mt-4">
      <section
        class="bg-gray-800 p-6 rounded-lg transform transition-transform duration-300 hover:scale-105 border border-cyan-400 section-dark"
      >
        <h1 class="text-2xl font-semibold mb-4">Sobre mi:</h1>
        <div class="bg-blue-700 p-4 rounded-lg border border-cyan-400 div-dark">
          <p class="font-bold">
            Hola, soy un chico de 19 años nacido en Madrid. Actualmente me
            encuentro estudiando un Grado Superior de Desarrollo de Aplicaciones
            Multiplataforma. Desde pequeño he sido un gran apasionado de la
            tecnologia.
          </p>
        </div>
      </section>

      <section
        class="bg-gray-800 p-5 rounded-lg mt-6 transform transition-transform duration-300 hover:scale-105 border border-cyan-400 section-dark"
      >
        <h2 class="text-2xl font-semibold mb-4">Estudios:</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div
            class="bg-blue-700 p-4 rounded-lg border border-cyan-400 div-dark"
          >
            <p class="font-bold">Colegio Apóstol Santiago:</p>
            <br />
            <p class="font-bold">Título de Escuela Secundaria Obligatoria</p>
          </div>
          <div
            class="bg-blue-700 p-4 rounded-lg border border-cyan-400 div-dark"
          >
            <p class="font-bold">Colegio Domenico Scarlatti:</p>
            <br />
            <p class="font-bold">Título de Bachillerato de Humanidades</p>
          </div>
        </div>
      </section>

      <section
        class="bg-gray-800 mt-3 p-6 rounded-lg transform transition-transform duration-300 hover:scale-105 border border-cyan-400 section-dark"
      >
        <h3 class="text-2xl font-semibold mb-4">Habilidades:</h3>
        <div
          class="bg-blue-700 p-4 rounded-lg border border-cyan-400 flex flex-col gap-3 text-center div-dark"
        >
          <span class="bg-blue-500 px-4 py-2 rounded-full">JavaScript</span>
          <span class="bg-blue-500 px-4 py-2 rounded-full">HTML</span>
          <span class="bg-blue-500 px-4 py-2 rounded-full">Python</span>
          <span class="bg-blue-500 px-4 py-2 rounded-full">Java</span>
        </div>
        <div class="flex justify-center mt-8">
          <button
            id="toggleTheme"
            class="px-6 py-2 bg-gray-700 text-lg font-bold rounded-full hover:bg-gray-600"
          >
            Cambiar a modo claro
          </button>
        </div>
      </section>
    </main>

    <footer class="text-center mt-36 md:mt-40">
      <p class="text-sm">&copy; 2024 Adrian. Todos los derechos reservados.</p>
    </footer>

    <script>
      const body = document.getElementById("body");
      const toggleButton = document.getElementById("toggleTheme");

      toggleButton.addEventListener("click", function () {
        body.classList.toggle("bg-white");
        body.classList.toggle("text-black");

        document.querySelectorAll(".section-dark").forEach((section) => {
          section.classList.toggle("bg-gray-400");
        });

        document.querySelectorAll(".div-dark").forEach((div) => {
          div.classList.toggle("bg-gray-300");
        });

        if (body.classList.contains("bg-white")) {
          toggleButton.textContent = "Cambiar a modo oscuro";
        } else {
          toggleButton.textContent = "Cambiar a modo claro";
        }
      });
    </script>
  </body>
</html>
