---
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import AboutMe from '../components/AboutMe.astro';
import 'tailwindcss/tailwind.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>

  <body class="bg-blue-950 text-white min-h-screen" id="body">
    <nav class="flex justify-center items-center p-6">
      <div class="flex space-x-9">
        <a href="#projects" class="text-gray-400 hover:text-teal-400">Projects</a>
        <a href="#contact" class="text-gray-400 hover:text-teal-400">Contact</a>
        <a href="#aboutme" class="text-gray-400 hover:text-teal-400">About me</a>
      </div>
    </nav>

    <section class="flex flex-col justify-center items-center text-center py-20">
      <div class="bg-teal-500 p-1 rounded-full mb-8">
        <img src="fotomia.jpg" alt="foto" class="rounded-full border-4 border-teal-500 w-32 h-32" />
      </div>

      <h1 class="text-4xl font-bold">Hola soy</h1>
      <h2 class="text-5xl font-bold mt-2 text-teal-400">Adrián Escolar</h2>
      <p class="text-2xl mt-4">
        Y soy un <span class="text-teal-400">Estudiante de 2DAM</span>
      </p>
      <a
        href="CV (1) (1).pdf"
        download=""
        class="mt-8 inline-block px-11 py-3 bg-teal-500 text-lg font-bold rounded-full hover:bg-teal-600"
      >
        Descargar CV
      </a>

      <button
        id="toggleTheme"
        class="mt-6 px-5 py-3 bg-gray-700 text-lg font-bold rounded-full hover:bg-gray-600"
      >
        Cambiar a Modo Claro
      </button>
    </section>

    <section id="projects">
      <Projects />
    </section>

    <section id="contact">
      <Contact />
    </section>

    <section id="aboutme">
      <AboutMe />
    </section>

    <script>
      const body = document.getElementById("body");
      const toggleButton = document.getElementById("toggleTheme");
    
      // Seleccionar las secciones y los divs dentro de ellas
      const sections = document.querySelectorAll('.section-dark');
      const divs = document.querySelectorAll('.div-dark');
    
      toggleButton.addEventListener("click", function () {
        // Cambiar las clases del body
        body.classList.toggle("bg-white");
        body.classList.toggle("text-black");
        body.classList.toggle("bg-gray-900");
        body.classList.toggle("text-white");
    
        // Cambiar las clases de las secciones y divs
        sections.forEach((section) => {
          section.classList.toggle("bg-gray-800");
          section.classList.toggle("bg-gray-200"); // Cambia al color claro
        });
    
        divs.forEach((div) => {
          div.classList.toggle("bg-blue-700");
          div.classList.toggle("bg-blue-200"); // Cambia al color claro
        });
    
        // Cambiar el texto del botón según el tema actual
        if (body.classList.contains("bg-white")) {
          toggleButton.textContent = "Cambiar a modo oscuro";
        } else {
          toggleButton.textContent = "Cambiar a modo claro";
        }
      });
    </script>
    
  </body>
</html>
