---
import 'tailwindcss/tailwind.css';
---
  <body
    class=" text-white min-h-screen transition-colors duration-500"
    id="body"
  >
    <h1 class="text-4xl mt-3 p-2 text-cyan-400 underline font-bold text-center">
      Projects:
    </h1>

    <section
      class="bg-gray-800 p-4 rounded-lg mt-4 border border-cyan-400 md:max-w-xl md:mx-auto max-w-xl mx-5 section-dark"
    >
      <h2 class="text-xl font-semibold mb-3 text-center">
        Proyectos Destacados:
      </h2>
      <div class="flex flex-col items-center gap-4">
        <div
          class="bg-blue-700 p-4 rounded-lg border border-cyan-400 w-full max-w-md transition-transform duration-300 hover:scale-105 div-dark"
        >
          <h3 class="font-bold text-lg mb-1">Simon Dice</h3>
          <p class="text-sm mb-1">
            Aplicación para recordar una cadena de colores.
          </p>
          <p class="text-sm mb-1">
            <span class="font-bold">Lenguaje:</span> Java
          </p>
          <a
            href="https://github.com/adriesco/SimonTerminado"
            class="text-blue-400 underline"
            >Ver código</a
          >
        </div>

        <div
          class="bg-blue-700 p-4 rounded-lg border border-cyan-400 w-full max-w-md transition-transform duration-300 hover:scale-105 div-dark"
        >
          <h3 class="font-bold text-lg mb-1">Maquina Virtual</h3>
          <p class="text-sm mb-1">
            Aplicación para introducir comandos por consola.
          </p>
          <p class="text-sm mb-1">
            <span class="font-bold">Lenguaje:</span> Java
          </p>
          <a
            href="https://github.com/adriesco/MaquinaVirtual"
            class="text-blue-400 underline"
            >Ver código</a
          >
        </div>

        <div
          class="bg-blue-700 p-4 rounded-lg border border-cyan-400 w-full max-w-md transition-transform duration-300 hover:scale-105 div-dark"
        >
          <h3 class="font-bold text-lg mb-1">Porfolio Tailwind</h3>
          <p class="text-sm mb-1">Sitio web para mostrar mis proyectos.</p>
          <p class="text-sm mb-1">
            <span class="font-bold">Lenguaje:</span> Tailwind.
          </p>
          <a
            href="https://github.com/adriesco/PorfolioExamen"
            class="text-blue-400 underline"
            >Ver código</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
