---
import 'tailwindcss/tailwind.css';
---
<div class="md:grid md:grid-cols-2 gap-4 max-w-4xl mx-auto p-4">

  <div class="bg-blue-700 p-4 rounded-lg border border-cyan-400 mt-2 w-full transition-transform duration-300 hover:scale-105 div-dark">
    <h3 class="font-bold text-lg mb-1">Simon Dice</h3>
    <p class="text-sm mb-1">Aplicación para recordar una cadena de colores.</p>
    <p class="text-sm mb-1">
      <span class="font-bold">Lenguaje:</span> Java
    </p>
    <a href="https://github.com/adriesco/SimonTerminado" class="text-blue-400 underline">Ver código</a>
  </div>

  <div class="bg-blue-700 p-4 rounded-lg border border-cyan-400 w-full mt-2 transition-transform duration-300 hover:scale-105 div-dark">
    <h3 class="font-bold text-lg mb-1">Maquina Virtual</h3>
    <p class="text-sm mb-1">Aplicación para introducir comandos por consola.</p>
    <p class="text-sm mb-1">
      <span class="font-bold">Lenguaje:</span> Java
    </p>
    <a href="https://github.com/adriesco/MaquinaVirtual" class="text-blue-400 underline">Ver código</a>
  </div>

  <div class="bg-blue-700 p-4 rounded-lg border border-cyan-400 w-full mt-2 transition-transform duration-300 hover:scale-105 div-dark md:mx-56">
    <h3 class="font-bold text-lg mb-1">Porfolio Tailwind</h3>
    <p class="text-sm mb-1">Sitio web para mostrar mis proyectos.</p>
    <p class="text-sm mb-1">
      <span class="font-bold">Lenguaje:</span> Tailwind.
    </p>
    <a href="https://github.com/adriesco/PorfolioExamen" class="text-blue-400 underline">Ver código</a>
  </div>

</div>
